.productCard {
    display: flex;
    flex-flow: column nowrap;
    align-items: start;  
}

.productCard__link {
    padding: 5px;
    font-family: "Comfortaa", sans-serif;
    font-weight: 400;
    line-height: 140%;
    color: #2A254B;
}


.productCard__link:hover {
    position: relative;
    border: 1px solid #bebebeb0;
    transition: 0.2s;
}

.productCard__descWrapper {
    margin-top: 24px;
    display: flex;
    flex-flow: column nowrap;
}

.productCard__title {
    margin-bottom: 10px;
    font-size: 20px;
    
}

.productCard__description {
    font-size: 16px;
    line-height: 150%;
}

