.featuresItemWrapper{
    max-width: 270px;
    margin:30px;
}

.featureDescriptionContainer{
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;

}

.featureIcon{
    margin-bottom: 16px;
}

.featureTitle{
    margin-bottom: 10px;
}
